<div class="container text-center">
    <h1>About Page</h1>
    <p>We are TwoCents. Our company focuses on creating robust interactions between
    developers and entrepreneurs to meet and work together.</p>
</div>