<div class="home-callout text-center container-fluid">
    <h1><i class="fa fa-hand-scissors-o" aria-hidden="true"></i> TwoCents</h1>
    <hr/>
    <h4>A Subscription Membership Based SaaS Product, by Matt Volk</h4>
</div>
  <div class="card-deck">
    <div class="container">
        <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Basic Membership</h4>
            <hr />
            <p class="card-text">The button below will take the user to the regular registration path.</p>
            <%= link_to "Start for Free", "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Pro Membership</h4>
            <hr />
            <p class="card-text">The button below will demonstrate this portfolio site's ecommerce capabilities.</p>
            <%= link_to "$10/month", "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>


<!-- /saasapp/public/index is for splash pages, won't register users
     /saasapp/app/views/pages/index is rails functional -->