<div class="home-callout text-center container-fluid">
    <h1>Welcome to TwoCents</h1>
    <h3>Instant Tips From Professional Developers</h3>
</div>
<!-- /saasapp/public/index is for splash pages, won't register users
     /saasapp/app/views/pages/index is rails functional -->