<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3><i class="fa fa-hand-scissors-o" aria-hidden="true"></i>TwoCents has mail :)</h3> 
        <p><strong>From: </strong><%= "#{ @name }, #{ @email }." %></p>
        <p><strong>Message:</strong></p>
        <p><%= @body %></p>
    </body>
</html>