<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3>Matt has mail :)</h3> 
        <p><strong>From: </strong><%= "#{ @name }, #{ @email }." %></p>
        <p><strong>Message:</strong></p>
        <p><%= @body %></p>
    </body>
</html>