/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';



/* Style Guide
* background #20252D
* white #FFFFFF
* teal #00D6BF
* hover teal #00d9c1
*/

@media screen and (min-width: 768px) {
  .collapse {
    display: block!important;
  }
}

// typography styles
.home-callout h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// selection styling
::-moz-selection {
  color: white;
  background: #20252D;
}

::selection {
  color: white; 
  background: #20252D;
}

hr {
  background-color: #222;
  border: 0;
  height: 3px;
  width: 56px;
  margin: 5% 44%;
}

// nav styles
.navbar, .home-callout {
  background: #20252D;
}

.navbar {
  border: none;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  color: rgba (255, 255, 255, 0.7);

}

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-brand {
  color: white;
}

// white logo color in nav
.navbar-inverse .navbar-nav > li > a {
  color: rgba (255, 255, 255, 0.7);
}

// light teal hover state for nav items
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

// mobile navbar button background
.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 65px;
  h4 {
    font-weight: 300;
  }
  hr {
  background-color: #fff;
  border: 0;
  height: 3px;
  width: 56px;
  margin: 1.5% 48%;
  }
  @media (max-width: 768px) {
    hr {
      margin: 3% 45%;
    }
  }
}

.alert-notice {
  display: none;
}

.btn-primary {
	background-color:#3e4756;
  border-color:#3e4756;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:focus {
	background-color:#20252D;
  border-color:#20252D;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #F7F7F9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  color: #222;
  margin: 8% 5%;
  p.card-text {
    padding: 0 3% 0 3%;
  }
  .card-title {
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .btn-primary {
    margin: 3%;
  }
  hr {
    margin-top: 0;
  }
}


.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }
    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}


